<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
    <img src="assets/images/marseler.jpg" alt="Kang parkir pesawat" />
    <ion-card-header>
      <ion-card-title><h1>Marsheller</h1></ion-card-title>
      <ion-card-subtitle>Marsheller merupakan petugas yang memiliki peran untuk mengarahkan Pesawat menuju tempat parkir yang benar</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      Ini adalah komponen card. ditambahkan oleh <b>Fatur Sakti Arrafi</b> dengan NIM <b>H1D022041</b>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content>
  <ion-card>
    <img src="assets/images/pushtruck.jpg" alt="Pushback Car" />
    <ion-card-header>
      <ion-card-title><h1>Pushback Car</h1></ion-card-title>
      <ion-card-subtitle>Pushback Car merupakan kendaraan yang digunakan untuk mendorong mundur pesawat dari Apron menuju Taxiway</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      Ini adalah komponen card. ditambahkan oleh <b>Fatur Sakti Arrafi</b> dengan NIM <b>H1D022041</b>
    </ion-card-content>
  </ion-card>
</ion-content>